body {
    margin: 0%;
    border: 0%;
}

.Intro{
    bottom: 0;
    right: 0;
    margin: auto;
    max-width: 600px;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}


.title{
    font-family: 'Yeseva One', cursive;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    padding-right: 5%;
    padding-left: 7%;
    color: #683E66;
}

.title2{
    font-family: 'Rubik', sans-serif;
    color: #5E3D48;
    display: inline;

}

*, *:before, *:after {
  box-sizing: border-box;
  scroll-snap-type: y mandatory;
 }

.mouse_scroll {
	width: 24px;
	height: 100px;
    position: absolute;
    bottom: 0px;
    margin-left: 50%;
}
.m_scroll_arrows
{
  display: block;
  transform: rotate(45deg);
  border-right: 2px solid #683E66;
  border-bottom: 2px solid #683E66;
  margin: 0 0 3px 4px;
  width: 16px;
  height: 16px;
}
.one 
{
    margin-top: 1px;
    animation: mouse-scroll 1s infinite;
    animation-direction: alternate;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #5E3D48;
  top: 170px;
}

.wheel {
  display: block;
  margin: 5px auto;
  background: #5E3D48;
  position: relative;
  height: 4px;
  width: 4px;
  border: 2px solid #5E3D48;
  border-radius: 8px;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}

@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}

  section {
    scroll-snap-align: start;
    height: 100vh;
    scroll-snap-align: center;
    background-color: #f1e3d3;
  }

  section:nth-child(2n) {
    background-color: #C3A29E;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  section:nth-child(3n) {
    background-color: #E8DBC5;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  section:nth-child(4n) {
    background-color: #FFF4E9;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }