/* Background Color for all pages */
body {
    background-color: #E3C5BB;
}

.Triangle {
size: inherit;
    background: linear-gradient(to bottom right, #E3C5BB 0%, #E3C5BB 50%, #E9E7DA 50%, #E9E7DA 100%);
}



/*Nav Bar*/
#Nav_Bar {
	background-color: #ffffff;
    position: sticky;
    top: 0;
    width: 100%;
    
}
